<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.unlimited.plugins.backgroundlocationenablerunlimited"
    version="1.0.5">

    <name>BackgroundLocationEnablerUnlimited</name>
    <description>A simple Phonegap Plugin to enable background location update on iOS. Updated with unlimited functionality.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <dependency id="org.apache.cordova.geolocation" url="https://github.com/apache/cordova-plugin-geolocation" />
    
    <!-- ios -->
    <platform name="ios">
       
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>
                
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundLocationEnabler">
                <param name="ios-package" value="CDVBackgroundLocationEnabler" />
            </feature>
        
        </config-file>
        
        <header-file src="src/ios/CDVLocation+Unlimited.h" />
        <source-file src="src/ios/CDVLocation+Unlimited.m" />
    </platform>

    

    
    
</plugin>
