<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.unlimited.plugins.backgroundlocationenablerunlimited-ios9-fix"
    version="1.0.9">

    <name>BackgroundLocationEnablerUnlimited</name>
    <description>A simple Phonegap Plugin to enable background location update on iOS. Updated with unlimited functionality.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/backgroundLocationEnabler.js" name="backgroundlocationenabler">
            <clobbers target="window.BackgroundLocationEnabler" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
       
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>
                
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundLocationEnabler">
                <param name="ios-package" value="CDVBackgroundLocationEnabler" />
            </feature>
        
        </config-file>
        
        <header-file src="src/ios/CDVBackgroundLocationEnabler.h" />
        <source-file src="src/ios/CDVBackgroundLocationEnabler.m" />    
    </platform>

    

    
    
</plugin>
